<!DOCTYPE html>
<html ng-app="App">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Weimasoft">
<title>Share</title>
<link href="styles/bootstrap.min.css" rel="stylesheet">
<link href="styles/style.css" rel="stylesheet">
<link href="styles/style-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
        <script src="scripts/html5shiv.js">
        </script>
        <script src="scripts/respond.min.js">
        </script>
    <![endif]-->
</head>
<body>
	<section id="container">
		<section id="main-content">
			<section class="wrapper" ng-controller="HelpItemController">
					<div class="col-md-3">
						<section class="panel">
							<div class="panel-body">
								<input type="text" placeholder="Keyword Search"
									class="form-control">
							</div>
						</section>
						<section class="panel">
							<div class="panel-body">
								<form role="form" method="POST" action="">
									<div class="form-group">
										<label> GDS </label> <select
											class="form-control hasCustomSelect"
											style="-webkit-appearance: menulist-button; width: 199px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
											<option>Amadeus</option>
											<option>Galileo</option>
											<option>Sabre</option>
										</select>
										<span class="customSelect form-control" style="display: inline-block;"> 
											<span class="customSelectInner"  style="width: 177px; display: inline-block;"> Amadeus	</span>
										</span>
									</div>
									<div class="form-group">
										<label> Category </label> <select
											class="form-control hasCustomSelect"
											style="-webkit-appearance: menulist-button; width: 199px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
											<option>Air Availability</option>
											<option>Car Availability</option>
										</select><span class="customSelect form-control"
											style="display: inline-block;"> <span
											class="customSelectInner"
											style="width: 177px; display: inline-block;"> Air Availability </span>
										</span>
									</div>
									<div class="form-group">
										<label> Order By </label> <select
											class="form-control hasCustomSelect"
											style="-webkit-appearance: menulist-button; width: 199px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
											<option>Alaphbet ASC</option>
											<option>Alaphbet DESC</option>
										</select><span class="customSelect form-control"
											style="display: inline-block;"> <span
											class="customSelectInner"
											style="width: 177px; display: inline-block;"> Alaphbet ASC </span>
										</span>
									</div>
								</form>
							</div>
						</section>
					</div>
					<div class="col-md-6" >
						<div class="tab-content" ng-repeat="itemCollection in ItemCollections">
							<div class="tab-pane" ng-class="$index == 1 ? 'active' : ''" id="tab{{itemCollection.Id}}">
								<div class="panel-group" id="panel{{itemCollection.Id}}" ng-repeat="item in itemCollection.Items">
									<div class="panel panel-default" >
										<div class="panel-heading">
											<h4 class="panel-title">
												<a href="#{{item.Id}}" data-parent="#panel{{item.Id}}" data-toggle="collapse" class="accordion-toggle">{{item.Title}} </a>
											</h4>
										</div>
										<div class="panel-collapse collapse  in" id="{{item.Id}}">
											<div class="panel-body" contenteditable="true">
												<p>{{item.Content}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<ul class="vertical-menu">
							<li class="active"><a href="#tabcollection0" data-toggle="tab"> <i
									class="fa fa-bullhorn"> </i> Fast link
							</a></li>
							<li><a href="#tabcollection1" data-toggle="tab"> <i
									class="fa fa-bolt"> </i> Amadeus Air Availability
							</a></li>
							<li><a href="#tabcollection2" data-toggle="tab"> <i
									class="fa fa-briefcase"> </i> Galileo Air Availability
							</a></li>
							<li><a href="#tabcollection3" data-toggle="tab"> <i
									class="fa fa-bookmark"> </i> Sabre Air Availability
							</a></li>
						</ul>
					</div>
			</section>
		</section>
	</section>
	<script src="scripts/jquery-1.8.3.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<!-- <script src="scripts/common.js"></script> -->
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/controllers.js"></script>
</body>
</html>