<!DOCTYPE html>
<html ng-app="App">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Weimasoft">
<title>Share</title>
<link href="styles/bootstrap.min.css" rel="stylesheet">
<link href="styles/style.css" rel="stylesheet">
<link href="styles/style-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
        <script src="scripts/html5shiv.js">
        </script>
        <script src="scripts/respond.min.js">
        </script>
    <![endif]-->
</head>
<body>
	<section id="container">
		<section id="main-content">
			<section class="wrapper" ng-controller="HelpItemController">
					<div class="col-md-3 col-sm-12">
						<section class="panel">
							<div class="panel-body">
								<input type="text" placeholder="Keyword Search"	class="form-control">
							</div>
						</section>
						<section class="panel">
							<div class="panel-body">
								<form role="form" method="POST" action="">
									<div class="form-group">
										<label> GDS </label> 
										<select class="form-control hasCustomSelect" style="font-size: 12px;" >
											<option ng-repeat="gds in GdsTypes">{{gds}}</option>
										</select>
									</div>
									<div class="form-group">
										<label> Category </label>
										<select class="form-control hasCustomSelect" style="font-size: 12px;" >
											<option ng-repeat="itemCollection in ItemCollections">{{itemCollection.CategoryName}}</option>
										</select>
									</div>
									<div class="form-group">
										<label> Order By </label> 
										<select class="form-control hasCustomSelect" style="font-size: 12px;" >
											<option ng-repeat="order in OrderBy">{{order}}</option>
										</select>
									</div>
									<!-- <div class="form-group">
										<button id="btnAdd" class="btn btn-primary">Add</button>
									</div> -->
								</form>
							</div>
						</section>
					</div>
					<div class="col-md-6 col-sm-12" >
						<div class="tab-content">
							<div class="tab-pane" ng-class="$index == 0 ? 'active' : ''" id="tab{{itemCollection.Id}}" ng-repeat="itemCollection in ItemCollections">
								<div class="panel-group" ng-repeat="item in itemCollection.Items">
									<div class="panel panel-default" >
										<div class="panel-heading">
											<h4 class="panel-title">
												<a href="#{{item.Id}}" data-toggle="collapse" class="accordion-toggle">{{item.Title}} </a>
											</h4>
										</div>
										<div class="panel-collapse collapse  out" id="{{item.Id}}">
											<div class="panel-body" contenteditable="true">
												<p>{{item.Content}}</p>
											</div>
										</div>
									</div>
								</div>
								<div>
									<ul class="pagination pagination-sm pro-page-list">
										<li>
											<a href="#">
												1
											</a>
										</li>
										<li>
											<a href="#">
												2
											</a>
										</li>
										<li>
											<a href="#">
												3
											</a>
										</li>
										<li>
											<a href="#">
												4
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
						<ul class="vertical-menu">
							<li na-class="$index ==0?'active':''" ng-repeat="itemCollection in ItemCollections">
								<a href="#tab{{itemCollection.Id}}" data-toggle="tab"> <i
										class="fa fa-bullhorn"> </i> {{itemCollection.CategoryName}}
								</a>
							</li>
						</ul>
					</div>
			</section>
		</section>
	</section>
	<script src="scripts/jquery-1.8.3.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<!-- <script src="scripts/common.js"></script> -->
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/controllers.js"></script>
</body>
</html>